@model IEnumerable<Source.Models.DBF.Tbbaogiachitiet>

@{
    ViewData["Title"] = "BaoGiaChiTiet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BaoGiaChiTiet</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BaogiachitietTitle1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BaogiachitietTitle1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BaogiachitietId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BaogiachitietId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BaogiachitietId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
